<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/style2.css"/>
    <link rel="stylesheet" type="text/css" href="http://codepen.io/jordyvanraaij/pen/jlAqp.css"/>
</head>
<body>
	<section id="page"> 
	<header> 
		<br/>
	
	</header>
	
	<article id="article1">
		
		<h2>Welcome to Performance Inspector page!!</h2>
		<div class="line"></div>

		<div class="articleBody clear">
		</div>

	</article>
		
	<table class="responstable">
		
		<thead>Tools</thead>
		<tr><th>Description</th><th>URL</th></tr>
		<tr><td>Site Response gauge</td><td><a href="/responsegauge">Click Here</a></td></tr>
	</table>
	<footer> 
			<p>Feel free to copy this resource!!</p>
			<div class="line"></div>
			</footer>

	</section>
</body>
</html>