<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/style2.css" />
</head>
<body>

	<form method="post" id="myForm" action="/responsegauge">
	<section id="page"> 
	<header> 

	<h1>Response Timer</h1>
	</header>
	<article id="article2">
		<h2>Enter url to measure the response time:</h2>

		<div class="line"></div>

		<div class="articleBody clear">
		<label>URL:</label>
		<input id="urltodiagnose" name="urltodiagnose" type="text" size="100px" th:value="${urltodiagnose}"/>
		<button type="submit">Submit</button>
		</div>
		
		<p th:text="${responsetime}"/>
		<table>
            <tr th:each="element : ${responseHeaderMap}">
                <td th:text="${element.key}">key</td>
                <td th:text="${element.value}">value</td>
                
            </tr>
        </table>
	</article>
	
	</section>
	</form>
</body>
</html>