<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
	<section id="page"> 
	<header> 

	<h1>Response Timer</h1>
	</header>
	<article id="article2">
		<h2>Enter url to measure the response time:</h2>

		<div class="line"></div>

		<div class="articleBody clear">
		<input id="url" type="text" />
		<button onclick="">Submit</button>
		</div>

	</article>
	
	</section>
</body>
</html>